<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjh.zshop.dao.ProductTypeDao">

    <!--查询所有产品类型 id为对应dao下的方法名称 resultType为返回的类型 include为定义的字段-->
    <sql id="productTypeColum">
        id
        ,
        name,
        status
    </sql>
    <select id="selectAll" resultType="ProductType">
        select
        <!--<include refid="productTypeColum"/>-->
        *
        from t_product_type
    </select>

    <select id="selectByStatus" resultType="ProductType">
        select
       *
        from t_product_type where status=${status};
    </select>

    <select id="selectById" resultType="ProductType">
        select * from t_product_type where id=#{id};
    </select>

    <select id="selectByName" resultType="ProductType">
        select * from t_product_type where name=#{name};
    </select>

    <insert id="Insert">
       insert into t_product_type(name,status)value (#{name},#{status}) ;
    </insert>

    <insert id="updateNamebyId">
        update  t_product_type set name=#{name} where  id =#{id} ;
    </insert>


    <insert id="updateStatus">
        update  t_product_type set status=#{status} where  id =#{id} ;
    </insert>

    <insert id="deleteById">
        delete FROM t_product_type  where id =#{id} ;
    </insert>
</mapper>

